<div id="dropdown" class="hide">
  <ul>
    <li><%= link_to 'New Snipit', new_snip_path %></li>
    <li><%= link_to 'My Snipits', snips_path %></li>
    <li><a href="/boards">My Boards</a></li>
    <li><%= link_to 'Logout', '/logout' %></li>
  </ul>
</div>

<script type="text/javascript">
  $('#gravatar').click(function(){
    $('#dropdown').fadeIn();
  });
  $(document).mouseup(function (e){
    var container = $("#dropdown");
    if (!container.is(e.target) && container.has(e.target).length === 0){
      container.fadeOut();
    }
  });
</script>