<div class='modalHolder'>
  <div class='content'>
    <div id="show_card">
      <button id='add_to_board_button'>&#60;&#62;</button>
      <div id="content"></div>
    </div>
  </div>
  <div class='mask'></div>
</div>