<nav>
  <div id="nav_container">
    <%= link_to '<SnipIt>', root_path, :id => 'logo_nav' %>
    <%= form_tag('/search') do %>
      <%= text_field_tag "search" ,nil, :placeholder => "Search", :id =>  'query'  %>
    <% end %>
    <% if current_user %>
      <div class="right_hand_navigation">
        <a href="/snips/new">
        <div id="new_snipit_link"></div>
        </a>
        <%= image_tag current_user.gravatar_url, :id => 'site_wide_gravatar' %>
      </div>
	  <% else %>
	   	<span class="right_hand_navigation session">
		    <a href="/sessions/new">Login</a>
		    <a href="/users/new">Signup</a>
 			</span>
    <% end %>
  </div>
</nav> 
