<nav>
  <div id="nav_container">
    <%= link_to '<SnipIt>', root_path, :id => 'logo_nav' %>
    <%= form_tag('/search') do %>
      <%= text_field_tag "search" ,nil, :placeholder => "Search", :id =>  'query'  %>
    <% end %>
    <% if current_user %>
	    <div id='site_wide_gravatar'>
	      <%= image_tag current_user.gravatar_url %>
	    </div>
	  <% else %>
	   	<div id='session'>
		    <a href="/sessions/new">Login </a>|
		    <a href="/users/new"> Signup</a>
 			</div>
    <% end %>
  </div>
</nav> 
