
<%= render partial: 'navbar' %>


<div id='container'>
  <div id='languages'>
    <ul>
      <li>Ruby</li>
      <li>Ruby</li>
      <li>Ruby</li>
      <li>Ruby</li>
      <li>Ruby</li>
      <li>Ruby</li>
    </ul>
  </div>
<% @snips.each do |c| %>
  <%= content_tag :div, class: "cards_data card", data: {snips:c} do %>

    <h3><%=c.title %></h3>
    <p><%=c.description %></p>
  <%end%>
  <%end%>





</div>



