@font-face {
  font-family: GraublauWeb;
  src: url("path-to-the-font-file/GraublauWeb.otf") format("opentype");
}

body{
  font-family: sans-serif;
  margin: 0;
}

input {
  font-size: 18px;
  width: 14em;
}

#container {
  background: none repeat scroll 0 0 #FFFFFF;
  margin: 0 auto;
  width: 1000px;
  padding-top: 44px;
}

/*HOMEPAGE*/

#landing_page_background{
  z-index: -10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(#F9F9F9, #F3F3F3);
}

#logo {
  font-family: 'notcouriersansregular',Monospace,serif;
  font-size: 75px;
  margin-top: 80px;
  padding: 70px;
  text-align: center;
}

.image_icon {
  height: 35px;
  width: 35px;
}

#home_gravatar {
  position: absolute;
  right: 20%;
  top: 30px;
  cursor: pointer;
}

#home_gravatar img {
  border-radius: 50%;
  width: 57px;
}

#language_box {
  min-height: 260px;
  padding: 57px;
  width: 516px;
}

.language {
  background: none repeat scroll 0 0 #FAFAFA;
  border: 1px solid #AAAAAA;
  border-radius: 3px;
  float: left;
  margin: 17px 29px;
  padding: 3px;
  text-align: center;
  width: 100px;
}

.language:hover {
  background: #e8e8e8;
}

.language:active{
  background: #bbb
}

#language_box > a {
  color: #000000;
  text-decoration: none;
}

.language_img {
  padding-top: 5px;
}

#search {
  height: 30px;
  margin: 0 auto;
  padding: 10px;
  width: 630px;
  height: 38px;
}

#search > div {
  margin: 0 auto;
}



/*NAV BAR*/

nav {
  background-image: linear-gradient(#F9F9F9, #F3F3F3);
  border-bottom: 1px solid #DEDEDE;
  height: 43px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #BE3B3B;;
}*/

nav > a > img {
  height: 100%;
}

nav > form {
  display: inline;
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -7em;
}

#nav_container {
  margin: auto;
  max-width: 1000px;
  text-align: center;
  height: 43px;
}

#site_wide_gravatar {
  cursor: pointer;
  float: right;
  margin: 3px;
  text-align: right;
  width: 8em;
}

#site_wide_gravatar img {
  border-radius: 50%;
  height: 37px;
}

#logo_nav {
  color: #000000;
  font-weight: bold;
  display: inline-block;
  font-family: 'notcouriersansregular',Monospace,serif;
  font-size: 34px;
  line-height: 39px;
  text-decoration: none;
  float: left;
}

#nav_container form {
  display: inline-block;
  line-height: 43px;
  width: 25em;
}

form label, form input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

form input {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
  color: #333333;
  font-size: 12px;
  min-height: 30px;
  outline: medium none;
  padding: 7px 10px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

form input:focus {
  /* No outline on focus */
  outline: 0;
  /* a darker border ? */
  border: 1px solid #bbb;
}


/*OTHER*/


button.cupid-green {
  background-color: #7FBF4D;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7FBF4D), color-stop(100%, #63A62F));
  background-image: -webkit-linear-gradient(top, #7FBF4D, #63A62F);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63A62F;
  border-bottom: 1px solid #5B992B;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96CA6D;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96CA6D;
  color: #FFF;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4C9021;
  width: 89px;
  position: absolute;
  right: 23px;
  top: 11px;
}
  button.cupid-green:hover {
  background-color: #76b347;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
  background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
  background-image: linear-gradient(top, #76b347, #5e9e2e);
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer; }
  button.cupid-green:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }

.form-style {
  width: 75px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 9.5em;
}

.form-style input[type="submit"]{
  margin-top: 18px;
  box-shadow: 0px 1px 3px #808080;
}

/* LANGUAGES BOX */

#languages {
  width: 140px;
  position: absolute;
  background-color:#fff;
}

#languages ul {
  list-style: none;
  padding-left: 0;
}

/* POPUP */

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 3;
}

.modelHolder{
  display:none;
  position: fixed;
  z-index: 2;
}

/* CARDS */

#cards {
  margin-left: 238px;
  width: 543px;
}

.card {
  background-color: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0;
  padding: 10px 40px;
}

.content {
  height: 500px;
  width: 960px;
  margin: auto;
  border: 1px solid;
  background-color: #FFF;
  margin-top: 120px;
  z-index: 4;
  position: fixed;
  left: 50%;
  margin-left: -480px;
}

#results_editor {
  width: 960px;
  height: 500px;
  position: relative;
  margin: auto;
}

#new_snip_form > p:nth-of-type(1){
  margin-top: 45px;
}

#editor {
  width: 960px;
  height: 500px;
  position: relative;
  top: -655px;
  margin: auto;
}

#session {
  position: absolute;
  right: 300px;
  top: 30px;
}

/* DROPDOWN MENU */

.dropdown {
  font-size: 0.8em;
  position: absolute;
  right: 15%;
  top: 43px;
  width: 200px;
}

#landing_dropdown .dropdown {
  right: 20%;
  top: 94px;
}

.dropdown ul{
  list-style-type: none;
  margin: 0;
  right: 15%;
}

.dropdown li {
  background: none repeat scroll 0 0 #FcFcFc;
  border: 1px solid #CCC;
  padding: 11px;
}

.dropdown li:hover{
  background: #E8E8E8;
}

.dropdown li:active{
  background: #F2F2F2;
}

.dropdown a{
  text-decoration: none;
  color: #000;
}

.hide{
  display: none;
}







